*.egg-info/
build/
dist/
wandb/
data/

results/
**/__pycache__/
*__pycache__*
checkpoints/
old_checkpoints/
checkpoints*/
simclr_checkpoints*/
debug_imgs/
tmp_results/
._*
sbatch_out/
sbatch_err/
**/._*.py
**/*.DS_Store

*.png
**/.ipynb_checkpoints/*
**/*.pkl
.vscode/settings.json
.coverage

docs/_build/*
docs/api/*
